################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IMDBQueryApp/bin/
/IMDBQueryApp/src/.classpath
/.vs/VSWorkspaceState.json
