################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IMDBQueryApp/bin/Main.class
/IMDBQueryApp/src/.classpath